# API keys for scripts/check-apis.mjs.
#
# Copy and add to .env to test the api keys

# themoviedb.org > Settings > API > Developer
TMDB_API_KEY=

# opensubtitles.com > My Account > API Consumers
OPENSUBTITLES_API_KEY=

# subdl.com/panel/api
SUBDL_API_KEY=

# store.wyzie.io/redeem
WYZIE_API_KEY=